hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.row {
	display: flex;
	width: 100%;
	margin: auto;
}

.col-1 {
	width: 8.3%;
}

.col-2 {
	width: 16.7%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.3%;
}

.col-5 {
	width: 41.7%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.3%;
}

.col-8 {
	width: 66.7%;
}
.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.3%;
}

.col-11 {
	width: 91.7%;
}

.col-12 {
	width: 100%;
}

.header {
	text-align: center;
}

.headerLogo {
	width: 2.5%;
}

.userCard {
	width: 100%;
	display: block;
}

.trendsHeading {
	color: gray;
	font-size: 25px;
	margin-bottom: 10px;
}

.trendContainer {
	width: 100%;
	display: block;
	margin-bottom: 10px;
}

.trendName {
	color: #4682B4;
	font-size: 15px;
	font-weight: bold;

}

.trendDescription {
	color: gray;
	font-size: 10px;
	font-style: italic;
}

.userName {
	font-size: 40px;
	font-weight: bold;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.userHandle {
	font-size: 25px;
	color: gray;
	font-style: italic;
	padding-top: 0px;
	margin-top: 0px;
}

.showAll {
	font-size: 15px;
	width: 100%;
	font-weight: bold;
	background-color: #e5faff;
	border-width: 1px;
	border-style: solid;
}

.tweetCol {
}

.tweetContainer {
	width: 100%;
	margin: 15px 0px;
}

.tweetHeader {
	display: flex;
}

.handle {
	width: 50%;
	text-align: left;
	color: black;
	font-weight: bold;
}

.timeStamp {
	width: 50%;
	text-align: right;
	color: gray;
	font-style: italic;
}

.tweetText {
	width: 100%;
	text-align: left;
}
